<footer class="section">
  <div class="divider"></div>
  <div class="container footer">
    <div class="footer-wrap">
      <a href="https://todoran.dev/" target="_blank" class="webflow-link w-inline-block">
        <img src="assets/img/design.png" height="17" alt="" class="webflow-logo-tiny" />
        <div class="paragraph-tiny">Website Design</div>
      </a>
      <a href="#scroll-top" class="webflow-link w-inline-block" id="scroll-top-button" title="Scroll to top">
        <div class="paragraph-tiny">© GeoSMART</div>
        <img src="assets/img/tiny_geosmart.png" height="15" alt="" class="webflow-logo-tiny" />
      </a>
    </div>
  </div>
</footer>